# Ignore the questa directory and all its contents
questa/

# Ignore draw.io files within the diagram folder
diagram/*.drawio

# Ignore that specific backup file in the diagrams folder
diagrams/.$top.drawio.bkp