# Ignore the questa directory and all its contents
questa/

# Ignore draw.io files within the diagram folder
diagram/*.drawio

# Ignore ALL draw.io hidden backup files anywhere in the project
.*.drawio.bkp